<form method="post" action="{{ path('app_monitoring_session_delete', {'id': monitoring_session.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ monitoring_session.id) }}">
    <button class="btn">Delete</button>
</form>
