<form method="post" action="{{ path('app_checklist_logistique_delete', {'id': checklist_logistique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ checklist_logistique.id) }}">
    <button class="btn">Delete</button>
</form>
