{% extends 'base.html.twig' %}

{% block title %}Edit ChecklistLogistique{% endblock %}

{% block body %}
    <h1>Edit ChecklistLogistique</h1>

    {{ include('checklist_logistique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_checklist_logistique_index') }}">back to list</a>

    {{ include('checklist_logistique/_delete_form.html.twig') }}
{% endblock %}
