{% extends 'base.html.twig' %}

{% block title %}New RelanceClient{% endblock %}

{% block body %}
    <h1>Create new RelanceClient</h1>

    {{ include('relance_client/_form.html.twig') }}

    <a href="{{ path('app_relance_client_index') }}">back to list</a>
{% endblock %}
